
/* 320px Celular VGA*/
@media screen and (max-width: 20rem)
{
  body{
    background: blueviolet;
  }
}
/* 321px y 640px CELULARES HD*/
@media only screen and (min-width: 20.0625rem) and (max-width: 40rem)
{
  body{
    background: yellow;
  }
  .respuesta_servi{
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 0;
    left: 0;
    margin: 0 1rem;
  }
}
/*  641px y 1024px CELULARES FULL HD*/
@media only screen and (min-width: 40.0625rem) and (max-width: 64rem)
{
  body{
    background: green;
  }
}
/* 1025px a mas */
@media only screen and (min-width: 64.0625rem)
{
  body{
    background: maroon;
  }
}