.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
/* 320px Celular VGA*/
@media screen and (max-width: 20rem)
{
  
}
/* Celulares VGA y HD */
@media screen and (min-width: 20rem) and (max-width: 40rem)
{

}
/* 321px y 640px CELULARES HD*/
@media only screen and (min-width: 20.0625rem) and (max-width: 40rem)
{
  body{
    background: green;
  }
}
/*  641px y 1024px CELULARES FULL HD*/
@media only screen and (min-width: 641px) and (max-width: 1024px)
{
  body{
    background: gray;
  }
}
/* 1025px a mas */
@media only screen and (min-width: 1025px)
{
  body{
    background: lightskyblue;
  }
  .tabla{
    border-collapse: collapse;
  }
}