.label-success{
  background-color: #8bc34a;
}
.label-danger{
  background-color: #f44336;
}
.label-warning{
  background-color: #ffb300;
}
.label{
  border-radius: 0.3rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.label-table{
  display: inline-block;
  width: 80%;
  min-width: 8em;
}

tbody{
  font-size: 0.75rem;
}
.btn{
  font-size: 0.75rem;
}
.icdateconsult{
  text-align: center;
}
.pagina-inac{
  color: #007bff !important;
}

/* 320px Celular VGA*/
@media screen and (max-width: 20rem)
{
  body{
    background: #f8f9fa;
  }
}
/* 321px y 640px CELULARES HD*/
@media only screen and (min-width: 20.0625rem) and (max-width: 40rem)
{
  body{
    background: #f8f9fa;
  }
  .respuesta_servi{
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 0;
    left: 0;
    margin: 0 1rem;
  }
}
/*  641px y 1024px CELULARES FULL HD*/
@media only screen and (min-width: 40.0625rem) and (max-width: 64rem)
{
  body{
    background: #f8f9fa;
  }
  .celltable{
    /*width: 8rem;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
/* 1025px a mas */
@media only screen and (min-width: 64.0625rem)
{
  body{
    background: #f8f9fa;
  }
  table{
    text-align: center;
  }
  .celltable{
    /*width: 8rem;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}